body{
    font-size: 14px;
}

#deleteBtn{
    display:none;
}

.display{
    display:block
}

form.validatd input:invalid, form.validatd textarea:invalid{
 border-color:red;
}

form.validatd input:valid, form.validatd textarea:valid{
 border-color:green;
}